In [1]:
## show dataset

In [3]:
import pandas as pd

In [5]:
data_path = "../tcdata/"
article = pd.read_csv(data_path + "articles.csv")
testA_click_log = pd.read_csv(data_path + "testA_click_log.csv")
testA_click_log = pd.read_csv(data_path + "testA_click_log.csv")
testA_click_log = pd.read_csv(data_path + "testA_click_log.csv")

In [6]:
dataset.head()

,user_id,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type
0,249999,160974,1506959142820,4,1,17,1,13,2
1,249999,160417,1506959172820,4,1,17,1,13,2
2,249998,160974,1506959056066,4,1,12,1,13,2
3,249998,202557,1506959086066,4,1,12,1,13,2
4,249997,183665,1506959088613,4,1,17,1,15,5